TENANT_ID=00000000-0000-0000-0000-000000000000
CLIENT_ID=00000000-0000-0000-0000-000000000000
CLIENT_SECRET=replace-me
DATAVERSE_URL=https://your-environment.crm.dynamics.com
DATAVERSE_SOLUTION_UNIQUE_NAME=replace_me_dev
# May work just leaving this blank, if not provide something like - https://your-environment.crm.dynamics.com/.default
DATAVERSE_SCOPE=
